
*{
    color: white;
    font-family: 'Pixelify Sans', sans-serif;
    font-family: 'VT323', monospace;
    font-size: 22px
 
}
body {
    background: url("https://images.pexels.com/photos/998641/pexels-photo-998641.jpeg?cs=srgb&dl=pexels-francesco-ungaro-998641.jpg&fm=jpg") ;  
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
}
#zen-intro{
    text-align: center;
    background-color: red;
   border: 15px solid rgb(228, 243, 19);
    margin: auto auto;
    width:50%;
    float: center;
    align-content: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
#zen-intro h1{
    font-size: 50px;
    font-weight: normal;
    
}
#zen-intro h2{
    font-size: 30px;
    text-decoration: underline;
    font-weight: normal;
}

#zen-intro h3{
    font-size: 30px;
    text-decoration: underline;
    font-weight: normal;
}
#zen-supporting{
    position: relative;
    top: 5rem;
    background-color: rgb(105, 95, 150);
    width:50%;
    border: 15px solid rgb(228, 243, 19);
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin: 20px;

}
#zen-supporting h3{
    color: rgb(114, 206, 118);
    font-size: 28px;
    font-weight: normal;
}

a:hover{
    color: rgb(146, 19, 40);
}
.sidebar {
    display:block;
    position: relative;
    top: -45rem;
    left:60% ;
    background-color: rgb(47, 170, 98);
    width:16rem;
    border: 15px solid rgb(228, 243, 19);
    padding-left: 20px;
    margin-right: 5rem;
    
}
.sidebar h3{
    color: rgb(226, 196, 250);
    font-weight: normal;
    font-size: 25px;
}
.wrapper li{
    padding-bottom: 5px;
    padding-top: 5px;
    padding-right: 10px;
    border: 2px solid blue;
    border-radius: 8px;
    padding: 5px;
    margin-right: 2rem;
    
}
.wrapper ul{
    padding-bottom: 2rem;
    border-bottom: 2px solid rgb(243, 237, 237);
}